<html>
<head>
    <title>Registration</title>
</head>
<body>
<p>Welcome to LunaR!</p>

<p>Congratulations {{name}}. You have successfully registered to the LunaR Cloud platform.</p>

<p>The only thing that is left is to verify your e-mail address. This can be done by clicking <a href="{{link}}">here</a> or by copy pasting the following link in your browser: {{link}}</p>

<p>With kind regards,</p>
<p>Lunar Team</p>

</body>
</html>
