<html>
<head>
    <title>Registration</title>
</head>
<body>
<p>Hello Drone user!</p>

<p>You have requested another e-mail to verify your e-mail address</p>

<p>The only thing that is left is to verify your e-mail address. This can be done by pressing on the following link: {{link}}</p>

<p>With kind regards,</p>
<p>Drone Team</p>


</body>
</html>
