<html>
<head>
    <title>Registration</title>
</head>
<body>
<p>Hello Drone user!</p>

<p>You have requested another e-mail to verify your e-mail address</p>

<p>The only thing that is left is to verify your e-mail address. This can be done by clicking <a href="{{link}}">here</a> or by copy pasting the following link in your browser: {{link}}</p>
<p>With kind regards,</p>
<p>Drone Team</p>


</body>
</html>
