<html>
<head>
    <title>Registration complete</title>
</head>
<body>
<p>Dear Drone user,</p>

<p>Congratulations, your account has been verified!</p>

<p>With kind regards,</p>
<p>Drone Team</p>


</body>
</html>
